### Processing Statewide Unemployment Data

In [1]:
import pandas as pd
import numpy as np

In [23]:
states = ['CA', 'FL', 'NY', 'NJ', 'AZ', 'TX', 'NV', 'GA', 'NC', 'WA', 'AL',
       'CT', 'OR', 'LA', 'CO', 'OH', 'MN', 'NM', 'WI', 'MI', 'IL', 'MA',
       'PA', 'UT', 'RI', 'OK', 'VA', 'WV', 'KS', 'SC', 'KY', 'MD', 'MO',
       'AR', 'NH', 'HI', 'MT', 'VT', 'DE', 'SD', 'DC', 'MS', 'AK', 'WY',
       'TN', 'IA', 'NE', 'ID']
len(states)
'PR' in states

False

Assume that monthly unemployment data are stored under the same directory. We want to combine all data into one dataframe, where the time spans from 2006-01-01 to 2015-12-01, and each state's unemployment rate is represented as a column.

In [15]:
## 
df = pd.DataFrame(
    {"date" : pd.date_range(start="1/1/2006", end="12/01/2015", freq='MS')}
)
df

          date
0   2006-01-01
1   2006-02-01
2   2006-03-01
3   2006-04-01
4   2006-05-01
..         ...
115 2015-08-01
116 2015-09-01
117 2015-10-01
118 2015-11-01
119 2015-12-01

[120 rows x 1 columns]

In [30]:
for state in states:
    directory = "../data/statewide_monthly_unemployment/" + state + ".csv" 
    stateData = pd.read_csv(directory)
    df[state] = stateData["Value"]
df.set_index("date", inplace=True)

In [31]:
df.to_csv("../data/unemployment.csv")